.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: var(--default-layout-width);
  padding: 0 var(--default-layout-horizantal-space);
  margin-top: var(--default-layout-height-header);
  display: flex;
}
.content {
  flex: 1;
}
